doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="initial-scale=1.0, user-scalable=no")
    title Chennai Data Portal
    link(rel="stylesheet", href="style.css", type="text/css")
  body
    #sidebar
      h3 Chennai Data
      p Experimental Data Homepage
      h4 Browse Maps
      ul#layers
        for map in maps
          li
            a(href="/view/#{map._id}") #{map.name || 'Parcel Map'}
      h4 Upload Maps
      if user
        small We can map GeoJSON, TopoJSON, and shapefiles (SHP)
        a(href="/upload")
          button.btn Upload a Map
      else
        h4 Log in to write notes and upload files
        a(href="/auth/google")
          button.btn Log in with Google
    canvas#map
      img(src="/chennai-metro.jpg")
    script(type="text/javascript", src="animate-home.js")
