doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="initial-scale=1.0, user-scalable=no")
    title Chennai Data Portal
    link(rel="stylesheet", href="style.css", type="text/css")
  body
    #sidebar
      h3 Chennai Data
      p Experimental Data Homepage
      h4 Browse Maps
      ul#layers
        li
          a(href="/map") Test Map
      h4 Log in and take notes
      a(href="/auth/google")
        button.btn Log in with Google
    #map
    script(type="text/javascript") var georeactor = { map: "google", div: "map", data: [], center: {lat: 13.05502, lng: 80.26315}, zoom: 13 };
    script(type="text/javascript", src="georeactor-client.js")
    script(async, defer, src="//maps.googleapis.com/maps/api/js?callback=initMap")
